**/.env
**/.env.production
**/node_module
**/node_modules
tests/tmp_user_data/
__pycache__/
backend/__pycache__/
backend/venv/
.agents/
package-lock.json
pip
py
backend/pip
backend/py
backend/package-lock.json
*.webp
*.png
 


 
# temporary test files

# debugging files
playwright_*
gh_runs*
runs.txt
status.txt
job_log.txt

# temp scripts
copy_playwright.js
migrate_wiki.py